.window { 
border:1px solid #346789;
box-shadow: 2px 2px 19px #aaa;
-o-box-shadow: 2px 2px 19px #aaa;
-webkit-box-shadow: 2px 2px 19px #aaa;
-moz-box-shadow: 2px 2px 19px #aaa;
-moz-border-radius:0.5em;
border-radius:0.5em;
opacity:0.8;
filter:alpha(opacity=80);
text-align:center;
position:absolute;
background-color:#eeeeef;
color:black;
font-family:helvetica;
font-size:0.9em;
cursor:default;
}

.window:hover {
box-shadow: 2px 2px 19px #444;
-o-box-shadow: 2px 2px 19px #444;
-webkit-box-shadow: 2px 2px 19px #444;
-moz-box-shadow: 2px 2px 19px #444;
opacity:0.6;
filter:alpha(opacity=60);
}

.pin {
padding-top: 1px;
/*padding-bottom:1px;*/
position:absolute;
text-align:center;
line-Height:10px;
font-size:0.6em;
cursor:default;
-moz-user-select: none;
font-family:'Cambria';/*:;Bell Gothic Std*/
/*letter-spacing:0px;*/
}
.pin:hover{
background-color:yellowgreen
}

v\:shape { 
    behavior:url(#default#VML);
    position:absolute; 
    width:100px;
    height:100px;
}

v\:Stroke { 
    behavior:url(#default#VML);
}

/*.line:hover {
filter:glow(color=#ff0000,strength=5);
}*/


/* #demo {
    position: absolute;
    left: 0px;
    top: 0px;
} */

.window2 { 
border:1px solid #346789;
position:absolute;
}

